/* button */
.buttons-wrapper {
  margin-top: 60px;
  margin-bottom: 3rem;
  display: flex;
  align-items: stretch;
  width: 100%;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: inline-block;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  opacity: 1;
  color: var(--feher);
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
}

.btn-main {
  background-color: var(--menuBg);
  margin: 0.8rem;
}

.btn-dark {
  background: radial-gradient(var(--darkBg), var(--midBg), var(--menuBg));
  margin: 0.8rem;
}

.button__text {
  display: block;
  padding: 0.5em 1.8em;
  font-weight: bold;
}

.button__text:before {
  content: attr(title);
}

.button__text--bis {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(-1em);
  transform: translateX(-1em);
  opacity: 0;
}

.button__mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transform: translateX(-100%) rotate(-45deg);
  transform: translateX(-100%) rotate(-45deg);
  transition: all 0.3s;
}

.button:hover {
  opacity: 0.8;
}

.button:hover .button__text {
  -webkit-animation: fx-text .3s ease-out;
  animation: fx-text .3s ease-out;
}

.button:hover .button__text--bis {
  -webkit-animation: fx-text-bis .3s ease-out;
  animation: fx-text-bis .3s ease-out;
}

.button:hover .button__mask {
  -webkit-animation: fx-mask .5s ease-out;
  animation: fx-mask .5s ease-out;
}

.button:active {
  opacity: 1;
  background: var(--midBg);
  color: var(--szurke);
}

.fas {
  padding: 0 0.8rem 0 0;
}

@-webkit-keyframes fx-mask {
  0% {
    -webkit-transform: translateX(-100%) rotate(-45deg);
    transform: translateX(-100%) rotate(-45deg);
  }

  100% {
    -webkit-transform: translateX(100%) rotate(-45deg);
    transform: translateX(100%) rotate(-45deg);
  }
}

@keyframes fx-mask {
  0% {
    -webkit-transform: translateX(-100%) rotate(-45deg);
    transform: translateX(-100%) rotate(-45deg);
  }

  100% {
    -webkit-transform: translateX(100%) rotate(-45deg);
    transform: translateX(100%) rotate(-45deg);
  }
}

@-webkit-keyframes fx-text {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(1em);
    transform: translateX(1em);
    opacity: 0;
  }
}

@keyframes fx-text {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(1em);
    transform: translateX(1em);
    opacity: 0;
  }
}

@-webkit-keyframes fx-text-bis {
  0% {
    -webkit-transform: translateX(-1em);
    transform: translateX(-1em);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fx-text-bis {
  0% {
    -webkit-transform: translateX(-1em);
    transform: translateX(-1em);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* button - end */