* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --menuBg: rgb(0, 190, 143);
    --menuHover: rgb(0, 19, 8);
    --feher: rgb(255, 255, 255);
    --szurke: rgb(160, 160, 160);
    --textClr: rgba(0, 0, 0, 0.75);
}

html,
body {
    font-size: 100%;
    min-height: 100%;
    font-family: "Roboto", sans-serif;
    color: var(--textClr);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Raleway', sans-serif;
}

.head-wrap {
    float: left;
}

.head-el {
    float: left;
}

.head-el h1 {
    font-size: 1.5rem;
}

.head-el h2 {
    font-size: 1.2rem;
}

#logo8 {
    width: 120px;
}

#nev {
    padding: 1.6rem;
}

.starter-template {
    clear: both;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
}

#portre-grp {
    display: flex;
}

#portre {
    margin-right: 2rem;
}

#portrem {
    border-radius: 100%;
}

.flex-container {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    
    margin-top: 2rem;
}

.btn {
    width: 12rem;
    color: var(--feher);
    background-color: var(--menuBg);
    border-radius: 50rem;
    margin: 0.5rem;
}

@media screen and (max-width: 1738px) {
    .starter-template {
        max-width: 100vw;
    }
}

@media screen and (max-width: 1270px) {
    #portre-grp {
        display: block;
    }

    #portre {
        margin-right: 0rem;
        width: 100%;
    }

    #portrem {
        display: block;
        margin: auto;
        position: relative;
        
    }

    .content-left {
        text-align: center;
        margin-top: 2rem;
    }

    .flex-container{
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    .starter-template {
        top: 150px;
        transform: translate(-50%, 0);
    }

    html,
    body {
        font-size: 85%;
    }
}

@media screen and (max-width: 420px) {


    .head-el h1 {
        font-size: 1.2rem;
    }

    .head-el h2 {
        font-size: 0.9rem;
    }

    #nev {
        padding: 2.8rem 1rem;
    }
}
