* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --modalTop: 90vh;
  --modalMid: 4vh;
  --modalBottom: 6vh;
}

/*  ============================= portfolio-new ============================= */


.flexwrapcenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4rem -10px;
}

.multicontent {
  margin: 1.5rem -10px 5rem -10px;
}

.imagebutton {
  overflow: hidden;
  width: 283px;
  height: 158px;
  margin: 5px;
}

.conceptbutton {
  height:144px;
}

.portfolohead {
  font-size: 1.5rem;;
  margin: 1.2rem 0 0.1rem 0;
}

/*  ============================= portfolio-new end ============================= */
.block {
  margin: 2.5rem 0px;
}

.showSingle {
  color: var(--feher);
  background: linear-gradient(to right, var(--midBg), var(--menuBg));
  display: block;
  padding: 0.4rem 0.98rem;
  cursor: pointer;
  margin-top: 2rem;
  position: relative;
  border-radius: 1rem 1rem 0 0;
  text-align: left;
}

.single__mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.35);
  -webkit-transform: translateX(-65%) rotate(-45deg);
  transform: translateX(-65%) rotate(-45deg);
  transition: all 0.3s;
}

.button:hover .single__mask {
  -webkit-animation: single-mask-anim 0.7s linear;
  animation: single-mask-anim 0.7s linear;
}

@-webkit-keyframes single-mask-anim {
  0% {
    -webkit-transform: translateX(-65%) rotate(-45deg);
    transform: translateX(-65%) rotate(-45deg);
  }

  100% {
    -webkit-transform: translateX(65%) rotate(-45deg);
    transform: translateX(65%) rotate(-45deg);
  }
}

@keyframes single-mask-anim {
  0% {
    -webkit-transform: translateX(-65%) rotate(-45deg);
    transform: translateX(-65%) rotate(-45deg);
  }

  100% {
    -webkit-transform: translateX(65%) rotate(-45deg);
    transform: translateX(65%) rotate(-45deg);
  }
}

.targetDiv {
  display: none;
  background: linear-gradient(to right, var(--midBg), var(--menuBg));
  padding-bottom: 2px;
}

.boardBg {
  background-color: white;
  margin: 0 2px 0 2px;
  padding: 0.3rem 0;
}

.board {
  margin: 0 0.3rem 0 0.3rem;
  padding: 0.4rem;
  border: 1px solid var(--menuBg);
}

.boardhead {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0.3rem;
  margin-bottom: 0.2rem;
  width: 100%;
}

.row {
  display: flex;
  align-items: stretch;
  justify-content: center;
  align-items: center;
}


.bottom {
  height: var(--modalBottom);
  display: flex;
  justify-content: center;
  max-width: 100vw;
}

.bottom--img-container {
  height: var(--modalBottom);
}

.column-3 {
  width: calc(100vw / 3);
  overflow: hidden;
}


.column-4 {
  width: calc(100vw / 4);
  overflow: hidden;
}

.column-5 {
  width: calc(100vw / 5);
  overflow: hidden;
}

.column-6 {
  width: calc(100vw / 6);
  overflow: hidden;
}

/* animációs videók kis méretben sorbarendezve 
preview oszlopok felezése*/
@media screen and (max-width: 888px) {
  .column-3-fullwidth {
    width: 100vw;
    overflow: hidden;
  }

  .column-3-fullwidth iframe {
    display: block;
    margin: auto;
  }

  .row {
    flex-wrap: wrap;
  }
}

.demo {
  height: 100%;
  opacity: 0.6;
}

/* The Modal (background) */
.modal {
  display: none;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: black;
  overflow: hidden;
}

/* Modal Content */
.modal-content {
  position: relative;
  display: grid;
  grid-template-rows: 90% 4% 6%;
  width: 100vw;
  height: 100vh;
}

.prewiev-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 85vh;
}

.mySlides {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySlides img {
  max-width: 100vw;
  max-height: 85vh;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 5;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
  width: 100%;
  margin-bottom: -5px;
}

.hover-shadow:hover {
  transform: scale(1.2, 1.2);
  transition: 0.4s;
}