/* css reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --menuBg: rgb(0, 190, 143);
    --lightBg: rgba(55, 204, 167, 0.25);
    --midBg: #007687;
    --darkBg: #005141;
    --menuHover: rgb(0, 19, 8);
    --bordo: rgb(124, 23, 70);
    --feher: rgb(255, 255, 255);
    --szurke: rgb(160, 160, 160);
    --textClr: rgba(0, 0, 0, 0.75);
}

body {
    font-size: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    color: var(--textClr);
    position: relative;
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.11rem;
}

a {
    text-decoration: none;
}

.widthwrapper {
    /* width: 100vw; */
    max-width: 1140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
}

.contentwrapper {
    margin-left: 140px;
    margin-right: 140px;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 80%;
    }

    .contentwrapper {
        margin: 0 1.5rem;
    }
}

.contentwrapper article {
    margin-bottom: 1.8rem;
}

.contentwrapper h1,
.contentwrapper h2,
.contentwrapper h3 {
    padding: .6rem 0;
    /* border: 1px solid black; */
}

.greenhead {
    color: var(--midBg);
    font-weight: 600;
    font-size: 2rem;
    padding: .8rem 0 0.8rem 0 !important;
    margin-bottom: 0.7rem;
    margin-top: 0.7rem;
    display: inline-block;
}

.green {
    color: var(--midBg);
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.contentwrapper p {
    padding: .6rem 0;
    line-height: 1.5rem;
}

.sticky {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1;
}

.site-content {
    flex: 1;
    margin-top: 2rem;
    width: 100vw;
}

.header {
    min-height: 120px;
    background-size: cover;
    position: relative;
    background-position: center;
    z-index: -1;
}

.head-container {
    display: flex;
    max-width: 1140px;
}

/* unique headers */
.header-fooldal {
    background-image: linear-gradient(to right,
        rgba(0, 150, 173, 0.5),
        rgba(0, 94, 46, 0.5)),
        url(../img/waterfall.jpg);
}

@media screen and (min-width: 880px) {
    .header-fooldal {
        height: 20vh;
        max-height: 280px;
    }
}

.header-webdev {
    background-image: linear-gradient(to right,
        rgba(0, 150, 173, 0.5),
        rgba(0, 94, 46, 0.5)),
        url(../img/code.jpg);
}

.header-graphic {
    background-image: linear-gradient(to right,
        rgba(0, 150, 173, 0.65),
        rgba(0, 94, 46, 0.65)),
        url(../img/graphic.jpg);
}

.header-cv {
    background-image: linear-gradient(to right,
        rgba(0, 150, 173, 0.75),
        rgba(0, 94, 46, 0.75)),
        url(../img/cv.jpg);
}

.header-portfolio {
    background-image: linear-gradient(to right,
        rgba(0, 150, 173, 0.5),
        rgba(0, 94, 46, 0.5)),
        url(../img/portfolio.jpg);
}

.header-anim {
    background-image: linear-gradient(to right,
        rgba(0, 103, 119, 0.3),
        rgba(0, 73, 33, 0.5)),
        url(../img/header-smart.jpg);
}

.header-concept {
    background-image: linear-gradient(to right,
        rgba(0, 91, 105, 0.5),
        rgba(0, 71, 35, 0.5)),
        url(../img/header-tree.jpg);
}

.header-illu {
    background-image: linear-gradient(to right,
        rgba(0, 93, 107, 0.3),
        rgba(0, 70, 34, 0.3)),
        url(../img/header-illu.jpg);
}

.header-storyb {
    background-image: linear-gradient(to right,
        rgba(0, 150, 173, 0.3),
        rgba(0, 94, 46, 0.3)),
        url(../img/header-baldtree.jpg);
}

.header-vfx {
    background-image: linear-gradient(to right,
        rgba(0, 150, 173, 0.3),
        rgba(0, 94, 46, 0.3)),
        url(../img/header-moon.jpg);
}

.header-web {
    background-image: linear-gradient(to right,
        rgba(0, 150, 173, 0.5),
        rgba(0, 94, 46, 0.5)),
        url(../img/header-absztrakt.jpg);
}

.header-contact {
    background-image: linear-gradient(to right,
        rgba(0, 150, 173, 0.5),
        rgba(0, 94, 46, 0.5));
}

.contactBg {
    background-image: linear-gradient(to right,
        rgba(0, 150, 173, 0.5),
        rgba(0, 94, 46, 0.5)),
        url(../img/kapcsolatBig.jpg);
    background-position: center;
    background-size: cover;
}

/* unique headers --- end */

#logo8 {
    max-width: 120px;
}

.nev-container {
    font-size: 85%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1.2rem;
    color: var(--feher);
    text-shadow: 0 0 3rem var(--midBg), 0 0 4rem var(--midBg);
}

.nev-container h1,
.nev-container p {
    padding: 0.15rem 0;
}

.nev-container p {
    font-size: 170%;
}

@media screen and (max-width: 360px) {
    .nev-container {
        text-shadow: 0 0 0.8rem var(--midBg), 0 0 1.5rem var(--midBg);
        font-size: 75%;
    }
}

.menuspacer {
    width: 80px;
    height: 10px;
}

.focim {
    color: var(--textClr);
    font-size: 3.4rem;
    font-style: italic;
    font-weight: 100;
}

.center {
    text-align: center;
    display: block;
    margin: auto;
}

.centerflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* =============================== unique pages =============================== */
/* -------------------------- főoldal -------------------------- */

.portre-container {
    margin-top: calc(-104px - 2rem);
    display: flex;
    align-items: center;
    width: 100%;
    /* border: 1px solid red; */
}

#portre-wrap {
    z-index: 2;
    width: 207px;
    height: 207px;
    padding: 0.3rem;
    border: 1px solid var(--feher);
    margin: auto;
    border-radius: 100%;
}

#portrem {
    border-radius: 100%;
}

.text-container-main {
    text-align: center;
    width: 650px;
    max-width: calc(100% - 4rem);
    margin: 2rem auto;
}

.text-container-main h1 {
    margin-bottom: 1.5rem;
}

.text-container-main p {
    padding: 0.4rem 0;
}

@media screen and (max-width: 880px) {
    .portre-container {
        margin-top: 0;
        z-index: -3;
    }

    #portre-wrap {
        z-index: -2;
    }
}

/* -------------------------- webfejlesztő -------------------------- */
.duplaoszlop {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;

}

.chart-container {
    display: flex;
    align-content: stretch;
    flex-direction: column;
}


#myChart {
    max-width: 69vw;
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 30rem;
}

.spacer {
    height: 1rem;
    width: 100px;
}

.text-container {
    max-width: 400px;
    margin: 0 0 0 2.2rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.text-container h1,
.text-container p {
    padding: 0.6rem 0;
}

@media screen and (max-width: 1118px) {
    .duplaoszlop {
        flex-direction: column;
    }

    .spacer {
        display: none;
    }

    #myChart {
        width: calc(65vw - 3rem);
        max-height: 500px;
        margin: auto;

    }

    .chart-container {
        order: 2;
        max-width: calc(100vw - 3rem);
    }

    .text-container {
        max-width: calc(100vw - 3rem);
        order: 1;
        margin: 0 0 2rem 0;
    }

    #webbuttons {
        order: 3;
    }
}

/* -------------------------- grafikus -------------------------- */
.szimplaoszlop {
    flex-direction: column;
}

.chart {
    margin: 2.5rem 0;
    flex-grow: 8;
}

/* -------------------------- önéletrajz -------------------------- */
.cv-container {
    padding: 1rem 0;
}

.job-container {
    display: flex;
    align-items: stretch;
    position: relative;
}

.baloszlop {
    text-align: right;
    flex-grow: 20;
    width: 32%;
    max-width: 24vw;
    ;
    padding: 1rem 1rem 1rem 0;
    hyphens: auto;
}

.pottyoszlop {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    position: relative;
    /* border: 1px solid black; */
}

.jobboszlop {
    flex-grow: 30;
    width: 67%;
    padding: 1rem 0 1rem 1rem;
}

.oszlopcsik {
    width: 0.2rem;
    height: 100%;
    background-color: var(--midBg);
}

.potty {
    background: white;
    position: absolute;
    width: 0.4rem;
    height: 0.4rem;
    border: 0.2rem solid var(--midBg);
    border-radius: 100%;
    margin: 1rem 0 0 -0.3rem;
}

.boss-container {
    margin: -2.8rem 0 0 0;
    background: linear-gradient(to right, var(--midBg), var(--darkBg));
    min-height: 1rem;
}

/* -------------------------- kapcsolat -------------------------- */
.bighead {
    color: var(--menuBg);
    font-weight: 100;
    font-style: italic;
    font-size: 2.8rem;
    padding: .8rem 0 0.1rem 0 !important;
    margin-bottom: 2rem;
    line-height: 100%;
}

.whitehead {
    color: var(--feher);
    font-weight: 100;
    font-size: 2.8rem;
    padding: .8rem 0 0.1rem 0 !important;
    margin-bottom: 2rem;
}

.form-container {
    margin-bottom: 7rem;
}

.felado-container {
    width: 100%;
    display: flex;
}

.felado {
    flex: 1;
}

.space {
    width: 2.5rem;
}

label {
    width: 100%;
    color: var(--menuBg);
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--menuBg);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


input[type=submit] {
    display: block;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    opacity: 1;
    color: var(--feher);
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
    background: radial-gradient(var(--darkBg), #4CAF50);
    margin: 0.8rem auto;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.12rem;
    padding: 0.6rem 1.8rem;
    border: none;
    float: right;
    min-width: 25%;
    opacity: 0.72;
    transition: opacity .3s;
}

input[type=submit]:hover {
    opacity: 1;
}

input[type=submit]::after {
    clear: both;
}

.icons-container {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: flex-start stretch;
    align-content: stretch;
}

.kapcsolat-container {
    color: white;
    min-width: 10rem;
    padding: 1.3rem;
    border-radius: 1.5rem;
    margin: 3rem 2rem;
    cursor: pointer;
    text-decoration: none;
}

.kapcsolat-container h2 {
    color: var(--menuBg);
}

.icongrp {
    margin: -3rem 0 0.7rem 0;
}

.icongrp .fas {
    font-size: 2.5rem;
    border: 1px solid var(--menuBg);
    width: 3rem;
    height: 3rem;
    padding: 1.5rem;
    text-align: center;
    color: white;
    background: var(--menuBg);
    border-radius: 250px;
}

@media screen and (max-width: 600px) {
    .icons-container {
        font-size: 140%;
    }
}




/* =============================== unique pages --- end =============================== */

/* footer */
footer {
    margin-top: 45px;
    background: linear-gradient(to right, var(--midBg), var(--darkBg));
}

.footerline {
    font-size: 85%;
    padding: 0.5rem 0;
    color: var(--feher);
}

.footercontent {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.footercontent a {
    padding: .6rem 0;
    line-height: 1.5rem;
    color: var(--feher);
    text-decoration: none;
}

.fas,
.fab {
    font-size: 1.2rem;
}