/* css reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --menuBg: rgb(0, 190, 143);
    --lightBg: rgba(55, 204, 167, 0.25);
    --midBg: rgb(0, 118, 135);
    --darkBg: rgb(0, 81, 65);
    --menuHover: rgb(0, 19, 8);
    --bordo: rgb(124, 23, 70);
    --feher: rgb(255, 255, 255);
    --szurke: rgb(160, 160, 160);
    --textClr: rgba(0, 0, 0, 0.75);
}

body {
    font-size: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    color: var(--textClr);
    position: relative;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Raleway', sans-serif;
}

.widthwrapper {
    /* width: 100vw; */
    max-width: 1140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
}

.contentwrapper {
    margin-left: 140px;
    margin-right: 140px;
}

.sticky {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1;
}

.site-content {
    flex: 1;
    margin-top: 2rem;
    width: 100vw;
    /* max-width: 100%; */
}

@media screen and (max-width: 600px) {
    .contentwrapper {
        margin: 1.5rem;
    }
}

.header {
    /* height: 20vh;
    max-height: 280px; */
    min-height: 120px;
    background-size: cover;
    position: relative;
    background-position: center;
    z-index: -1;
}

.head-container {
    display: flex;
    max-width: 1140px;
}

/* unique headers */
.header-fooldal {  
    background-image: linear-gradient(to right,
        rgba(0, 150, 173, 0.5),
        rgba(0, 94, 46, 0.5)),
        url(../img/waterfall.jpg);
}

@media screen and (min-width: 880px) {
    .header-fooldal {
        height: 20vh;
    max-height: 280px;
    }
}

.header-webdev {
    background-image: linear-gradient(to right,
        rgba(0, 150, 173, 0.5),
        rgba(0, 94, 46, 0.5)),
        url(../img/code.jpg);
}

.header-cv {
    background-image: linear-gradient(to right,
        rgba(0, 150, 173, 0.5),
        rgba(0, 94, 46, 0.5)),
        url(../img/cv.jpg);
}

.header-portfolio {
    background-image: linear-gradient(to right,
        rgba(0, 150, 173, 0.5),
        rgba(0, 94, 46, 0.5)),
        url(../img/portfolio.jpg);
}

.header-contact {
    background-image: linear-gradient(to right,
        rgba(0, 150, 173, 0.5),
        rgba(0, 94, 46, 0.5)),
        url(../img/kapcsolat.jpg);
}

/* unique headers --- end */

#logo8 {
    max-width: 120px;
}

.nev-container {
    font-size: 85%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1.2rem;
    color: var(--feher);
    text-shadow:  0 0 3rem var(--midBg) , 0 0 4rem var(--midBg);
}

@media screen and (max-width: 360px)
{
    .nev-container h1 {
        font-size: 95%;
    } 

    .nev-container p {
        font-size: 85%;
    }  
}

.menuspacer {
    width: 80px;
    height: 10px;
    /* border: 1px solid black; */
}

.focim {
    color: var(--textClr);
    font-size: 3.8rem;
    font-style: italic;
    font-weight: 100;
    margin-top: 0;
    /* text-shadow:  0 0 3rem var(--midBg) , 0 0 4rem var(--midBg); */
}

/* button adjust */
.buttons-wrapper {
    margin-top: 60px;
    display: flex;
    align-items: stretch;
    
    width: 100%;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: 0 -0.8rem;
    justify-content: space-between;
    align-items: center;
}

.btn-main {
    flex-grow: 1;
    margin: 0.8rem;
}
/* button adjust --- end */

/* =============================== unique pages =============================== */
/* -------------------------- főoldal -------------------------- */

.portre-container{
    margin-top: calc(-104px - 2rem);
    display: flex;
    align-items: center;
    width: 100%;
    /* border: 1px solid red; */
}

#portre-wrap {
    z-index: 2;
    width: 207px;
    height: 207px;
    padding: 0.3rem;
    border: 1px solid var(--feher);
    margin: auto;
    border-radius: 100%;
}

#portrem {
    border-radius: 100%;
}

.text-container-main {
    text-align: center;
    width: 650px;
    max-width: calc(100% - 4rem);
    margin: 2rem auto;
}

.text-container-main h1 {
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 880px) {
    .portre-container {
        margin-top: 0;
        z-index: -3;
    }
    #portre-wrap {
        z-index: -2;
    }
}


/* =============================== unique pages --- end =============================== */

/* footer */
footer {
    margin-top: 45px;
    background: linear-gradient(to right, var(--midBg), var(--darkBg));
}

.footerline {
    font-size: 85%;
    padding: 0.5rem 0;
    color: var(--feher);
}