:root {
    --spantav: 15px;
}

.sticky {
    position: sticky;
    top: 0;
    right: 0;
}

nav {
    direction: rtl; 
    cursor: pointer;
    position: relative;
    top: 0;
    /* right: 25px;; */
}


.menu__mask {
    display: block;
    width: 200%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.45);
    transform: translate(-35%, -20px) rotate(-45deg);
    transition: all 0.3s;
  }

#box1 {
    position: absolute;
    -webkit-transition: 0.4s ease-in-out 0s;
    transition: 0.4s ease-in-out 0s;
    z-index: 2;
    overflow: hidden;
}

nav:hover .menu__mask {
    -webkit-animation: menu-fx .3s ease-out;
            animation: menu-fx .3s ease-out;
  }

  @keyframes menu-fx {
    0% {
        transform: translate(-35%, -20px) rotate(-45deg);
    }
    100% {
        transform: translate(80%, 15px) rotate(-45deg);
    }
  }

.anima {
    width: 100vw;
    height: 100vh;
    background-color: var(--menuHover);
    border-radius: 0px;
    
    z-index: 0;
   ;
}

@media screen and (min-width: 1140px) {
    .anima {
        margin-right: calc((100vw - 1140px) * -0.5);
    }
}

@media screen and (min-width: 480px) {
    .anima {
        width: 320px;   
    }
}

.nemani {
    margin-top: 20px;
    width: 66px;
    height: 66px;
    background: var(--menuBg);
    border-radius: 33px;
    z-index: 4;
}

.taki {
    position: absolute;
    top:20px;
    width: 66px;
    height: 66px;
    background: var(--menuHover);
    border-radius: 33px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

nav:hover .taki {
    background: var(--menuBg);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.hambi {
    position: absolute;
    right: 14px;
    top: 33px;
    display: inline-block;
    cursor: pointer;
    z-index: 100;
}

.bar1,
.bar2,
.bar3 {
    width: 36px;
    height: 5px;
    background-color: var(--feher);
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
    transform: rotate(-45deg) translate(-8px, 8px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/* ================ menü ================ */
.menusor {
    position: relative;
    width: 100%;
    height: 100%;
    float: right;

}

ul {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 100%;
}

@media screen and (min-width: 480px) {
    .menusor {
        width: 320px;
    }
}

ul li {
    list-style: none;
    padding: 15px 0px 15px 0px;
    text-align: center;
    margin: auto;
    width: 100%;
}

ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    position: relative;
    padding: 10px 15px 10px 15px;
    transition: .2s;
    color: var(--menuBg);
    text-align: center;
    width: 100%;
}

ul li a:hover {
    text-decoration: none;
    color: var(--feher);
}

.active {
    color: var(--szurke);
    cursor: default;
}

/* ================ menü vége ================ */
/* ================ menü keret effekt ================ */

ul li a span:first-child:before {
    content: '';
    position: absolute;
    top: var(--spantav);
    left: var(--spantav);
    width: 8px;
    height: 8px;
    background: transparent;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transition: .2s;
    opacity: 0;
}

ul li a span:first-child:after {
    content: '';
    position: absolute;
    top: var(--spantav);
    right: var(--spantav);
    width: 8px;
    height: 8px;
    background: transparent;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: .2s;
    opacity: 0;
}

ul li a span:last-child:before {
    content: '';
    position: absolute;
    bottom: var(--spantav);
    left: var(--spantav);
    width: 8px;
    height: 8px;
    background: transparent;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    transition: .2s;
    opacity: 0;
}

ul li a span:last-child:after {
    content: '';
    position: absolute;
    bottom: var(--spantav);
    right: var(--spantav);
    width: 8px;
    height: 8px;
    background: transparent;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: .2s;
    opacity: 0;
}

ul li a:hover span:first-child:before {
    top: 0px;
    left: 0px;
    opacity: 1;
}

ul li a:hover span:first-child:after {
    top: 0px;
    right: 0px;
    opacity: 1;
}

ul li a:hover span:last-child:before {
    bottom: 0px;
    left: 0px;
    opacity: 1;
}

ul li a:hover span:last-child:after {
    bottom: 0px;
    right: 0px;
    opacity: 1;
}

.active>a span:first-child:before {
    display: none;
}

.active>a span:first-child:after {
    display: none;
}

.active>a span:last-child:before {
    display: none;
}

.active>a span:last-child:after {
    display: none;
}

/* ================ menü keret effekt vége ================ */
