* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --menuBg: rgb(0, 190, 143);
    --lightBg: rgba(0, 190, 142, 0.25);
    --menuHover: rgb(0, 19, 8);
    --bordo: rgb(124, 23, 70);
    --feher: rgb(255, 255, 255);
    --szurke: rgb(160, 160, 160);
    --textClr: rgba(0, 0, 0, 0.75);
}

html,
body {
    font-size: 100%;
    min-height: 100%;
    font-family: "Roboto", sans-serif;
    color: var(--textClr);
    display: flex;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Raleway', sans-serif;
}

.head-container {
    display: flex;
    width: 95vw;
    max-width: 1200px;
}

#logo8 {
    max-width: 120px;
}

.nev-container {
    font-size: 85%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1.2rem;
}

@media screen and (max-width: 360px)
{
    .nev-container h1 {
        font-size: 95%;
    } 

    .nev-container p {
        font-size: 85%;
    }  
}

.menuspacer {
    width: 100px;
    height: 10px;
    /* border: 1px solid black; */
}

header, main, footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    min-height: 100vh;
    width: 100vw;
    max-width: 1800px;
}

main {
    margin: 25px 0;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.footerline{
    font-size: 85%;
    margin-top: 25px;
}

/* button */
.button {
    display: inline-block;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    opacity: 1;
    color: var(--feher);
    background-color: var(--menuBg);
  }
  .button__text {
    display: block;
    padding: 0.5em 1.8em;
    font-weight: bold;
  }
  .button__text:before {
    content: attr(title);
  }
  .button__text--bis {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateX(-1em);
            transform: translateX(-1em);
    opacity: 0;
  }
  .button__mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    -webkit-transform: translateX(-100%) rotate(-45deg);
            transform: translateX(-100%) rotate(-45deg);
    transition: all 0.3s;
  }
  
  .button:hover {
    opacity: 0.8;
  }
  .button:hover .button__text {
    -webkit-animation: fx-text .3s ease-out;
            animation: fx-text .3s ease-out;
  }
  .button:hover .button__text--bis {
    -webkit-animation: fx-text-bis .3s ease-out;
            animation: fx-text-bis .3s ease-out;
  }
  .button:hover .button__mask {
    -webkit-animation: fx-mask .5s ease-out;
            animation: fx-mask .5s ease-out;
  }
  
  .button:active {
    opacity: 1;
    background: white;
    color: inherit;
  }
  
  @-webkit-keyframes fx-mask {
    0% {
      -webkit-transform: translateX(-100%) rotate(-45deg);
              transform: translateX(-100%) rotate(-45deg);
    }
    100% {
      -webkit-transform: translateX(100%) rotate(-45deg);
              transform: translateX(100%) rotate(-45deg);
    }
  }
  
  @keyframes fx-mask {
    0% {
      -webkit-transform: translateX(-100%) rotate(-45deg);
              transform: translateX(-100%) rotate(-45deg);
    }
    100% {
      -webkit-transform: translateX(100%) rotate(-45deg);
              transform: translateX(100%) rotate(-45deg);
    }
  }
  @-webkit-keyframes fx-text {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1em);
              transform: translateX(1em);
      opacity: 0;
    }
  }
  @keyframes fx-text {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1em);
              transform: translateX(1em);
      opacity: 0;
    }
  }
  @-webkit-keyframes fx-text-bis {
    0% {
      -webkit-transform: translateX(-1em);
              transform: translateX(-1em);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fx-text-bis {
    0% {
      -webkit-transform: translateX(-1em);
              transform: translateX(-1em);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

/* button - end */