
.chart-container {
    display: flex;
    align-items: stretch;
    width: 100%;
    max-width: 400px;
    /* height: 100%; */
    /* border: 1px solid black; */
    /* min-height: 500px; */
}

.text-container {
    max-width: 400px;
    margin: 1.2rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.text-container h1, .text-container p {
    padding: 0.6rem;
}

.button {
    margin: 0.6rem;
}